@import url("https://fonts.googleapis.com/css?family=Pacifico");
.App {
  text-align: center; }

.App-logo {
  display: inline;
  height: 70px;
  margin: 0 auto;
  vertical-align: middle; }

.App-logo:nth-of-type(1) {
  animation: App-logo-spin-counter infinite 8s ease-in-out; }

.App-logo:nth-of-type(2) {
  animation: App-logo-spin-clockwise infinite 8s ease-in-out; }

.App-header {
  background-color: RGBA(250, 70, 176, 1);
  height: 70px;
  padding: 10px;
  color: white;
  box-shadow: 0 5px 15px 0 RGBA(250, 70, 176, 1); }

.App-title {
  display: inline;
  vertical-align: middle;
  margin: 10px;
  font-size: 2.5em;
  font-family: Pacifico; }

.App-intro {
  font-size: large; }

@media only screen and (max-width: 768px) {
  .App-logo {
    height: 30px; }
  .App-logo:nth-of-type(1) {
    display: none; }
  .App-title {
    font-size: 1.4em;
    margin: 5px; }
  .App-header {
    height: 30px; } }

@keyframes App-logo-spin-clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes App-logo-spin-counter {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }
