@import url("https://fonts.googleapis.com/css?family=Pacifico");
.Dashboard {
  width: 90%;
  height: 600px;
  margin: 20px auto;
  color: white;
  border-radius: 5px;
  background: RGBA(25, 181, 254, 1); }

.Dashboard-header {
  padding: 5px;
  margin: 5px 0;
  height: 1em;
  font-size: 2em;
  font-family: sans-serif;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 25px;
  background: RGBA(250, 70, 176, 1); }

.Dashboard-content {
  padding: 10px;
  background: RGBA(25, 181, 254, 1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 15px 0 RGBA(25, 181, 254, 1); }

@media only screen and (max-width: 768px) {
  .Dashboard {
    height: 400px;
    margin: 10 px;
    width: 90%; }
  .Dashboard-header {
    height: 1em;
    font-size: 14px;
    padding: 10px; } }
