body {
  margin: 0;
  padding: 0;
  background: none; }

.Widget {
  margin: 2em 1em;
  padding: 1em;
  transition: 250ms;
  -webkit-appearance: none;
  box-shadow: 0 5px 15px 0 RGBA(250, 70, 176, 1);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  background-image: linear-gradient(0deg, RGBA(250, 70, 176, 1), RGBA(250, 70, 106, 1));
  /*
    &:before {
        content: "";
        width: 100%;
        height:100%;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50px;
        z-index: -1;
        filter: blur(14px);
        background-image: linear-gradient(0deg, $gradient-pink, transparent);
    }

    &:after {
        content: "";
        width: 100%;
        height:100%;
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50px;
        z-index: -1;
        filter: blur(14px);
        background-image: linear-gradient(0deg, transparent, $gradient-yellow);
    }

    */ }
  .Widget .Widget-img:hover {
    transform: scale(1.55) translate(0, -5px);
    cursor: pointer; }
  .Widget .Widget-img:active {
    transform: scale(0.95) translate(0, 0px); }

.Widget:nth-child(1) {
  animation-delay: 0s;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */ }

.Widget:nth-child(2) {
  animation-delay: 0.5s;
  animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.5s;
  /* Internet Explorer */
  -o-animation: fadein 1.5s;
  /* Opera < 12.1 */ }

.Widget:nth-child(3) {
  animation-delay: 1s;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */ }

.Widget-header {
  margin: 5px;
  padding: 5px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2em; }

.Widget-content {
  margin: 5px; }

.Widget-map {
  transition: 250ms;
  display: inline;
  margin: 0 auto;
  border-radius: 5px;
  width: 15em;
  height: 12em; }

.visible {
  display: inline-block; }

.invisible {
  display: none; }

.Widget-img {
  transition: 250ms;
  margin: 5px;
  border-radius: 5px;
  width: 15em;
  height: 12em; }

@media only screen and (min-width: 768px) {
  .Widget-map:hover {
    width: 24em;
    height: 24em; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
