$foodie-pink: RGBA(250, 70, 176, 1.00);
$foodie-blue: RGBA(25, 181, 254, 1);
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.Dashboard {
    width: 80%;
    height: 600px;
    margin: 20px auto;
    color: white;
    border-radius: 5px;
    background: $foodie-blue;
}

.Dashboard-header {
    padding: 10px;
    margin: 10px 0;
    height: 1em;
    font-size: 2em;
    font-family: sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:25px;
    background: $foodie-pink;
}

.Dashboard-content {
    padding: 10px;
    background: $foodie-blue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}